:root {
  --dimmed: #aaa;
  --activeSitename: black;
  --englishSitename: deeppink;
  --fw-regular: 400;
  --fw-light: 200;
  --headerbg: transparent;
  --buttonbg: black;
  --buttonColor: #eee;
  --buttonBorderColor: #eee;

  /* Thicker font weight for crap screens. */
  @media screen and (max-resolution: 1x) {
    --fw-regular: 500;
  }
}

* {
  box-sizing: border-box;
}

body {
  font-weight: var(--fw-regular);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: oswald;
  margin: 0;
  padding: 2cqw;
  padding-top: 1rem;
  display: flex;
  flex-flow: column nowrap;
  height: 100vh;
  overflow: hidden;
}

/* adjust font weight for lower screen sizes and resolutions  */

/* bump up font-weight for persian, urdu, korean */
[lang="fa"],
[lang="ko"],
[lang="ur"] {
  font-weight: normal;
}

header.interface {
  /* min-height: 60px; */
  height: auto;
  padding: 2rem 0;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 0 2rem;
  background-color: black;
  background-color: var(--headerbg);
  transition: height 5s ease-in-out;
  interpolate-size: allow-keywords;
}

@media screen and (max-width: 600px) {
  .span-english {
    display: none !important;
  }

  .lang-en .span-english {
    display: block !important;
  }
}


/* CONTENT ARRANGEMENT */

.content-container {
  position: relative;
  flex-grow: 1;
  /* prevents moving main text when sizing gets massive on mobile */
  /* overflow: hidden; */
  /* border: 10px solid black; */
}




.button-grid {}


/* ALTERNATE BUTTON LAYOUT AND ANIMATION */

.button-grid {
  display: flex;
  flex-flow: row wrap;
  height: 100%;
}

.button-grid>button {
  min-width: 100px;
  flex-basis: 40px;
  background: transparent;
  flex-grow: 1;
  color: var(--buttonColor);
  border: 1px solid var(--buttonBorderColor);
  transition: all .5s;
}

.button-grid>button:hover {
  transform-origin: 0% center;
  /* transform: scale(1.8); */
  font-size: 8cqw;
  font-size: 24rem;
  flex-grow: 4;
  color: var(--buttonColor);
  background-color: transparent;
}


h1 {
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  gap: 1.25rem;
  margin: 0;
  margin-bottom: 6px;
  line-height: 1;
  font-weight: var(--fw-regular);
}

h1 span {
  display: block;
  color: var(--englishSitename);
  transition: all .5s;
  font-size: 1.5rem;
}

.en h1 span {
  color: var(--activeSitename);
}


nav[aria-label="Language"] {
  display: flex;
  justify-content: center;
  z-index: 1000;
}

select.lang-select {
  margin: auto;
  color: var(--activeSitename);
  background-color: white;
  font-size: 1rem;
  text-transform: lowercase;
  border: 2px solid var(--activeSitename);
  border: none;
  padding: 2px;
  outline: 1px solid var(--activeSitename);
}

select.lang-select option {
  color: pink;
  background-color: orange;
  font-weight: bold;
}


h1 [class^="span"] {
  display: none;
}

h1 span {
  transition: all .5s;
}

h1 .span-english {
  display: block;
  /* color: black; */
  /* color: #777; */
  color: var(--englishSitename);
  font-weight: 700;
}

.active-sitename {

  color: var(--activeSitename);
  display: block;
  font-weight: var(--fw-regular);

}

.lang-en .active-sitename {
  display: none;
}

.lang-en h1 span {
  color: var(--activeSitename);
}

.instruction-wrapper {
  flex-basis: 100%;
  flex-grow: 1;
  opacity: 1;
  transition: all .5s;
}

.instruction-text {
  padding: 0;
  margin: 0;
  font-size: clamp(1.5rem, 1cqw, 5rem);
  /* font-size: 3cqw; */
  line-height: 1;
  font-weight: var(--fw-light);
  text-wrap: balance;
  /* text-align: center; */
}

.instruction-text::before,
.instruction-text::after {
  /* content: "\2723";
  display: block;
  text-align: center;
  padding: 1rem; */
  /* color: white; */
  /* font-size: .5em; */
}

.instruction-text::before {
  content: "[ "
}

.instruction-text::after {
  content: " ]"
}





.instruction-text::after {}



.instruction-wrapper.inactivated {
  opacity: 0;
  z-index: -1;
}

.instruction-text {
  display: block;
}



.messages-output-wrapper {
  padding: 2rem;
  position: absolute;
  inset: 0;
  pointer-events: none;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: 0rem;
  column-gap: 2rem;
  line-height: 1;
}

.nuclear .messages-output-wrapper .message-text,
.nuclear .messages-output-wrapper .message-synonym {
  /* display: none; */
}

.message-text {
  font-size: 10cqw;
  display: block;
  transition: all .5s;
}

.message-synonym {
  font-size: 4cqw;
  display: block;
  /* margin-top: 1rem; */
  color: var(--dimmed);
  transition: all .5s;
}

.new-text-node {
  display: flex;
  flex-flow: column nowrap;
  /* border: 5px solid red; */
  gap: .5rem;

  >* {
    margin: 0;
  }

  .synonym-node {
    color: var(--dimmed);
  }

}

.admin-panel {
  display: none;
}

/* 
.admin-panel {
  display: none;
  position: absolute;
  inset: 0;
  background-color: rgb(255 255 255 .9);
  backdrop-filter: blur(5px);
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-content: center;
  gap: 2rem;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s;
}

.active {

  opacity: 1;
  pointer-events: all;

  z-index: 2000;
}

 */


.admin-data {
  display: none;
}


.visually-hidden,
.sr-only {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}